.not-found-container {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 20px;
}

.not-found-title {
  font-size: 96px;
  font-weight: bold;
  color: #ff4c4c;
  margin-bottom: 20px;
}

.not-found-message {
  font-size: 24px;
  margin-bottom: 30px;
}

.home-button {
  background-color: #1e90ff;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0b73cc;
}
